@model List<Room>
@{
    ViewBag.Title = "Rooms";
}

<div class="page">

    <div class="container-fluid">
        <div class="row clearfix justify-content-end">
            <div class="col-lg-4 col-md-6">
                <div class="card flex-fill">
                    <div class="body taskboard planned_task">
                        <a href="@Url.Action("addroom")" class="btn btn-block btn-outline-primary btn-animated btn-animated-y">
                            <span class="btn-inner--visible">Otaq Əlavə Et</span>
                            <span class="btn-inner--hidden"><i class="fa fa-plus"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>




        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Otaqların siyahısı</strong></h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Otaq Nömrəsi</th>
                                        <th>Qiymet(1 gün)</th>
                                        <th>Böyük</th>
                                        <th>Uşaq</th>
                                        <th>Yataq Növü</th>
                                        <th>Ətrafli</th>
                                        <th>Şəkil</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Otaq Nömrəsi</th>
                                        <th>Qiymet(1 gün)</th>
                                        <th>Böyük</th>
                                        <th>Uşaq</th>
                                        <th>Yataq Növü</th>
                                        <th>Ətrafli</th>
                                        <th>Şəkil</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th>@item.Number</th>
                                            <th>@item.Price</th>
                                            <th>@item.PersonCapacity</th>
                                            <th>@item.ChildCapacity</th>
                                            <th>@item.BedType</th>
                                            <th>@item.Desc</th>
                                            <th><img style="height:20px" src="~/wwwroot/images/roomimg/@item.Photo" /></th>
                                            <th>@item.Price</th>
                                            <th><button class="btn btn-primary " data-toggle="modal" data-target="#noti">Otağı seç</button></th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>